/*-------slider css--------------*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 50%; /* Full-width */
    height: 40px; /* Specified height */
    background: #262323; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    /* background: #f44242; /* Red background */
    background-image: url('neutral.png');
    cursor: pointer; /* Cursor on hover */
}



/*-------table css--------------*/
table,td {
    border-spacing: 5px;
    border: 1px solid black;
}

th, td {
    padding: 15px;
    width:50%;
}

.alignleft {
	float: left;
      width: 50%; /* Full-width */
}
.alignright {
	float: right;
      width: 50%; /* Full-width */
}
